.container {
  gap: 20px;
  height: 100vh;
  display: grid;
}
div > * {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
header {
  grid-area: header;
  background-color: aqua;
}
main {
  grid-area: content;
  background-color: darkolivegreen;
}
aside {
  grid-area: sidebar;
  background-color: chartreuse;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "content content content"
      "sidebar sidebar sidebar";
  }
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .container {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header header"
      "content content sidebar"
      "content content sidebar";
  }
}
